/*______ Start Sliders ______*/

.slider__arrows {
	/* width: 160px; */
	width: auto;
	font-size: 0;
	&:hover {
		.slide-prev,
		.slide-next {
			background-color: #f4f8fa;
		}
	}
	.slide-prev,
	.slide-next {
		display: inline-block !important;
		vertical-align: top;
		text-align: center;
		background-color: transparent;
		cursor: pointer;
		transition: background-color .35s ease-out;
		@media (min-width: $mob-xs) {
			width: 50px;
			height: 50px;
			line-height: 50px;
			font-size: 12px;
		};
		@media (min-width: $tablet-w) {
			width: 80px;
			height: 80px;
			line-height: 80px;
			font-size: 16px;
		};
		i {
			&:before {
				transition: color .35s ease-out;
			}
		}
		&:hover {
			i {
				&:before {
					color: $blue;
				}
			}
		}
	}
	.slide-prev {
		position: relative;
		&:after {
			content: '';
			position: absolute;
			right: 0;
			width: 1px;
			background-color: #d2d9df;
			@media (min-width: $mob-xs) {
				top: 15px;
				height: 20px;
			};
			@media (min-width: $tablet-w) {
				top: 23px;
				height: 36px;
			};
		}
	}
	&--fill {
		.slide-prev,
		.slide-next {
			background-color: #f4f8fa;
		}
	}
}

.slick-dots {
	li {
		width: 16px;
		height: 16px;
		&.slick-active {
			button {
				border-top-width: 1px;
				border-right-width: 1px;
				border-bottom-width: 1px;
				border-color: $blue;
				border-left-color: transparent;
				&:before {
					opacity: 1;
				}
			}
		}
		button {
			padding: 3px;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			border-top-width: 0px;
			border-right-width: 0px;
			border-bottom-width: 0px;
			border-left-width: 1px;
			border-style: solid;
			border-color: $blue;
			border-left-color: transparent;
			transition: border-width .3s ease;
			transform: rotate(-45deg);
			&:before {
				content: '';
				font-family: none;
				width: 10px;
				height: 10px;
				background-color: #2e60b8;
				font-size: 10px;
				opacity: 1;
				top: 50%;
				left: 50%;
				line-height: 1px;
				display: block;
				transform: translate(-50%, -50%);
				border-radius: 50%;
			}
		}
	}
}

.main-slider {
	position: relative;
	height: 512px;
	overflow: hidden;
	.slider {
		margin-bottom: 0;
		height: 512px;
		.slide {
			position: relative;
			padding: 88px 0 68px;
			height: 512px;
			color: #ffffff;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 43%;
				height: 100%;
				background: rgba(0, 0, 0, .5);
				z-index: 70;
			}
			&__desc {
				position: relative;
				z-index: 75;
			}
			&__title {
				margin-bottom: 40px;
				font-size: 52px;
				font-weight: 700;
				font-family: $secondFont;
				text-transform: uppercase;
			}
			&__text {
				margin-bottom: 50px;
				max-width: 600px;
				font-size: 21px;
				line-height: 32px;
			}
		}
	}
	.main-slider-arrows-wrapper {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		z-index: 120;
		.uk-container {
			position: relative;
		}
		.slider__arrows {
			margin-left: auto;
			.slide-prev,
			.slide-next {
				background-color: #ffffff;
			}
		}
	}
	.slick-dots {
		margin: 0 15px;
		right: 230px;
		bottom: 35px;
		width: auto;
		display: inline-block !important;
		z-index: 121;
	}
}

.about-company-slider {
	position: relative;
	.slider__arrows {
		position: absolute;
		bottom: 0;
		right: 0;
		.slide-prev,
		.slide-next {
			background-color: #f4f8fa;
		}
	}
}

.offers-slider {
	position: relative;
	margin-top: 60px;
	.slider {
		height: 400px;
		overflow: hidden;
		&.slick-initialized  {
			height: auto;
			overflow: visible;
		}
	}
	.slick-list {
		margin: 0 -15px;
	}
	.slide {
		margin: 0 15px;
	}
	.slider__arrows {
		position: absolute;
		right: 0;
		@media (min-width: $mob-xs) {
			top: -82px;
		};
		@media (min-width: $tablet-w) {
			top: -112px;
		};
	}
}

.detail-sliders-wrapper {
	padding-bottom: 34px;
	width: 100%;
	@media (min-width: $desk-w) {
		width: 60%;
	};
	.detail-slider {
		width: 100%;
	}
}


.detail-slider {
	position: relative;
	.slider {
		overflow: hidden;
		@include preloader(75px, 75px);
		&.slick-initialized  {
			overflow: visible;
			&:before {
				background: transparent;
				z-index: -1;
			}
		}
		@media (min-width: $tablet-w) {
			height: 442px;
		};
	}
	.slide {
		position: relative;
		padding: 20px 0;
		text-align: center;
		img {
			display: inline;
			max-width: 100%;
			max-height: 100%;
		}
	}
	.slider__arrows {
		position: absolute;
		bottom: 0;
		left: 0;
	}
}


.detail-preview-slider {
	.slider {
		padding: 0 40px;
		height: 100px;
		overflow: hidden;
		&.slick-initialized {
			overflow: visible;
		}
	}
	.slick-list {
		margin: 0 -5px;
	}
	.slide {
		position: relative;
		margin: 0 5px;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		filter: grayscale(100%);
		transition: filter .3s ease-out;
		text-align: center;
		outline: none;
		&.slick-current {
			filter: grayscale(0);
		}
		img {
			display: inline-block;
			max-width: 100%;
			max-height: 100%;
		}
	}
	.slick-prev,
	.slick-next {
		width: auto;
		height: auto;
		z-index: 500;
		&:before {
			display: none;
		}
		i {
			display: inline-block;
			width: 35px;
			height: 35px;
			line-height: 35px;
			text-align: center;
			background-color: #f4f8fa;
			&:before {
				font-size: 10px;
			}
		}
	}
	.slick-prev {
		left: 17.5px;
	}
	.slick-next {
		right: 17.5px;
	}
}

.products-slider {
	position: relative;
	.slider {
		height: 570px;
		overflow: hidden;
		&.slick-initialized  {
			height: auto;
			overflow: visible;
		}
	}
	.slick-list {
		margin: 0 -15px;
	}
	.slide {
		margin: 0 15px;
	}
	.slider__arrows {
		position: absolute;
		right: 0;
		@media (min-width: $mob-xs) {
			top: -82px;
		};
		@media (min-width: $tablet-w) {
			top: -112px;
		};
	}
	.card__text {
		background-color: #f4f8fa;
	}
}

/*______ End Sliders ______*/
