/*______ Start Main Content ______*/

.content {
	padding: 36px;
	background: #ffffff;
	@media (min-width: $tablet-w) {
		margin-bottom: 100px !important;
	};
	img {
		display: inline;
	}
	ul:not([class]) {
		margin-bottom: 60px;
		padding-left: 25px;
		li {
			position: relative;
			margin-bottom: 10px;
			padding-left: 20px;
			font-size: 18px;
			line-height: 28px;
			list-style: none;
			&:last-child {
				margin-bottom: 0;
			}
			&:before {
				content: '';
				position: absolute;
				top: 12px;
				left: 0;
				width: 5px;
				height: 5px;
				display: block;
				border-radius: 50%;
				background: $blue;
			}
		}
	}
}

.content-img-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	@media (min-width: $mob-xs) {
		flex-wrap: wrap;
	};
	@media (min-width: $desk-w) {
		flex-wrap: nowrap;
	};
	img {
		display: inline !important;
		max-width: 100%;
		max-height: 100%;
		&+img {
			margin-top: 15px;
			@media (min-width: $desk-w) {
				margin-top: 0;
			};
		}
	}
}

.promo-catalog {
	padding: 46px 0 56px;
	background-color: #f4f8fa;
	.card {
		margin-bottom: 25px !important;
	}
	ul.tabs {
		justify-content: space-between;
		li {
			margin-right: 0;
		}
	}
}

.about-company {
	padding: 77px 0 83px;
	background-color: #ffffff;
	&__desc {
		padding: 43px 30px 45px 45px;
		background-color: #f4f8fa;
	}
}

.about-company-advantages-list {
	@include list-reset;
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	li {
		padding: 34px 0;
		width: 45%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #d2d9df;
		&:nth-last-child(-n+2) {
			padding-bottom: 0;
			border-bottom: none;
		}
		&:hover {
			.text {
				color: #272d37;
			}
		}
		.img {
			margin-right: 15px;
			min-width: 80px;
		}
		.text {
			font-size: 18px;
			font-weight: 500;
			color: #666666;
			transition: color .3s ease-out;
			a {
				color: #666666;
				&:hover {
					color: #272d37;
				}
			}
		}
	}
}

.advantages-list {
	margin-top: 63px;
	.list {
		@include list-reset;
		margin-top: 60px;
		display: flex;
		justify-content: space-between;
		counter-reset: list;
		li {
			position: relative;
			width: 21%;
			&:before {
				counter-increment: list;
				content: "0"counter(list);
				font-size: 59px;
				font-weight: 700;
				font-family: $secondFont;
				letter-spacing: 4px;
				color: #d2d9df;
			}
			&:after {
				content: '';
				position: absolute;
				top: 24px;
				left: 0;
				width: 100%;
				height: 24px;
				background-color: #ffffff;
			}
		}
		&__title {
			margin: 3px 0 30px;
			min-height: 57px;
			font-size: 24px;
			font-weight: 700;
			line-height: 30px;
			font-family: $secondFont;
			color: #272d37;
		}
		&__text {
			color: #666666;
			font-size: 16px;
			line-height: 24px;
		}
	}
}


/*______ Offers ______*/

.offers {
	padding-bottom: 70px;
	background-color: #ffffff;
}

.offer {
	width: 100%;
	height: 455px;
	background-size: cover, cover;
	a {
		position: relative;
		padding: 50px 10px 55px 45px;
		display: block;
		width: 100%;
		height: 100%;
		color: #ffffff;
	}
	&__title {
		
		max-width: 80%;

		font-weight: 700;
		font-family: $secondFont;
		@media (min-width: $mob-xs) {
			margin-bottom: 30px;
			font-size: 30px;
			line-height: 36px;
		};
		@media (min-width: $desk-w) {
			margin-bottom: 55px;
			font-size: 40px;
			line-height: 48px;
		};
	}
	&__text {
		margin-bottom: 40px;
		max-height: 145px;
		overflow: hidden;
	}
	.read-more {
		position: absolute;
		left: 45px;
		bottom: 45px;
	}
}

/*______ End Offers ______*/



/*______ News Block ______*/

.news-block {
	padding-bottom: 94px;
	background-color: #ffffff;
}

.news-list {
	&>.uk-grid {
		&>div {
			position: relative;
			opacity: 0;
			&:nth-child(1) {
				z-index: 100;
				transform: translateX(-100%);
				animation-delay: .5s;
			}
			&:nth-child(2) {
				z-index: 99;
				transform: translateX(-125%);
				animation-delay: .25s;
			}
			&:nth-child(3) {
				z-index: 98;
				transform: translateX(-150%);
				animation-delay: 0;
			}
		}
	}
}

.page-news {
	padding-bottom: 80px;
	.news-list {
		margin-bottom: 40px;
		padding-bottom: 20px;
		border-bottom: 1px solid #d2d9df;
		&>.uk-grid {
			&>div {
				opacity: 1;
				transform: none;
			}
		}
	}
	.news {
		margin-bottom: 25px !important;
		&:hover {
			a {
				background-color: transparent;
			}
		}
	}
	.news-inner {
		a {
			background: #ffffff;
		}
	}
}

.news {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		background-color: #f4f8fa;
		z-index: 25;
		transition: background-color .3s ease-out;
	}
	&:hover {
		&:before {
			background-color: rgba(46%, 55%, 61%, .52);
		}
		.news__date,
		.news__short-text,
		.read-more {
			color: #ffffff;
			&:before {
				color: #ffffff;	
			}
		}
	}
	&-inner {
		height: 100%;
		a {
			position: relative;
			display: block;
			padding: 45px;
			height: 100%;
			z-index: 35;
		}
	}
	&__date {
		margin-bottom: 26px;
		font-family: $secondFont;
		color: #d3d8dc;
		font-weight: 700;
		transition: color .3s ease-out;
	}
	&__day {
		font-size: 40px;
		line-height: 46px;
	}
	&__month {
		font-size: 18px;
	}
	&__short-text {
		margin-bottom: 50px;
		max-height: 175px;
		color: #666666;
		font-size: 24px;
		line-height: 30px;
		font-weight: 500;
		font-family: $secondFont;
		overflow: hidden;
		transition: color .3s ease-out;
	}
	.read-more {
		position: absolute;
		bottom: 45px;
		left: 45px;
		color: #272d37;
		font-weight: 600;
		z-index: 125;
		transition: color .3s ease-out;
	}
}

/*______ End News Block ______*/



/*______ SEO Block ______*/

.seo-block {
	color: #666666;
	font-size: 16px;
	line-height: 24px;
	@media (min-width: $mob-xs) {
		margin-bottom: 50px;
		padding: 0 15px;
	};
	@media (min-width: $tablet-w) {
		padding: 0 35px;
	};
	@media (min-width: $desk-w) {
		padding: 0;
		margin-bottom: 95px;
	};

}

/*______ End SEO Block ______*/


/*______ FAQ ______*/

.doc-list {
	@include list-reset;
	li {
		margin-bottom: 46px !important;
		padding-left: 0;
		.item {
			a {
				display: block;
				color: #666666;
				@include clearfix;
				&:hover {
					.item__title {
						color: #2e60b8;
					}
				}
			}
			&__img {
				position: relative;
				margin-right: 20px;
				width: 76px;
				height: 76px;
				float: left;
				background-color: #f4f7fb;
				border-radius: 50%;
				text-align: center;
				i {
					position: absolute;
					top: 50%;
					left: 50%;
					font-size: 31px;
					transform: translate(-50%, -50%);
				}
			}
			&__text {
				overflow: hidden;
			}
			&__title {
				margin-bottom: 9px;
				line-height: 24px;
				font-weight: 500;
				font-family: $secondFont;
				transition: color .3s ease-out;
			}	
			&__subtitle {
				color: #666666;
				font-size: 14px;
				line-height: 24px;
			}
		}

	}
}

/*______ End FAQ ______*/


/*______ Leasing ______*/

.requisites {
	margin-bottom: 30px;
	padding: 40px 45px;
	border: 10px solid #f4f8fa;
	&:last-child {
		margin-bottom: 30px;
	}
	&__title {
		margin-bottom: 40px;
		padding-bottom: 26px;
		color: #272d37;
		font-size: 24px;
		line-height: 30px;
		font-weight: 700;
		font-family: $secondFont;
		border-bottom: 1px solid #d2d9df;
	}
	a {
		margin-bottom: 12px;
		display: block;
		color: #272d37;
		font-size: 16px;
		line-height: 22px;
		font-weight: 600;
		&:hover {
			color: #2e60b8;
		}
	}
}

.requisites-subtitle {
	font-size: 16px;
	line-height: 24px;
}

/*______ End Leasing ______*/


/*______ Pathners page ______*/

.pathners-list {
	padding-bottom: 60px;
	li {
		text-align: center;
	}
	.item {
		&__img {
			margin-bottom: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 62px;
			img {
				max-width: 100%;
				max-height: 100%;
			}	
		}
		&__name {
			color: #676767;
			font-size: 16px;
		}
	}
}

/*______ End Pathners page ______*/


/*______ Parking ______*/

.parking {
	.title-h1 {
		margin-bottom: 0;
		padding-bottom: 15px;
	}
}

.parking-map {
	margin-bottom: 27px;
	width: 100%;
	min-height: 300px;
	@media (min-width: $tablet-w) {
		min-height: 400px;
	};
	@media (min-width: $desk-w) {
		min-height: 666px;
	};
}

.parking-list {
	@include list-reset;
	.parking-item  {
		margin-bottom: 27px;
	}
}

.parking-item {
	position: relative;
	padding: 35px 34px 30px;
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	transition: box-shadow .3s ease-out;
	&:hover {
		box-shadow: 0 5px 21px -2px rgba(0, 0, 0, 0.06);
	}
	&__title {
		color: #666666;
	}
	&__address,&__contacts,&__timework {
		position: relative;
		padding-left: 35px;
		font-family: $mainFont !important;
		color: #272d37;
		font-size: 18px;
		line-height: 28px;
		width: 30%;
		a {
			display: block;
			color: #272d37;
		}
		&:before {
			position: absolute;
			top: 8px;
			left: 0;
			font-family: 'icomoon' !important;
			color: #768b9c;
			font-size: 18px;
			line-height: 18px;
			transition: color .3s ease-out;
		}
		&:hover {
			&:before {
				color: $blue;
			}
		}
	}
	&__address {
		/* max-width: 278px; */
	}
	&__timework {
		/* max-width: 300px; */
	}
	.parking-tooltip {
		position: absolute;
		top: -1px;
		right: 0;
		&>div {
			margin-bottom: 5px;
			padding: 7px;
			display: inline-block;
			color: #ffffff;
			font-size: 12px;
			line-height: 16px;
			font-weight: 700;
			font-family: $secondFont;
			text-transform: uppercase;
			&:empty {
				display: none;
			}
			&.open {
				background-image: linear-gradient(135deg, #f06570 0%, #dd353d 100%);
			}
		}
	}
}

.parking-detail-desc {
	padding: 25px 25px 0 35px;
	background: #ffffff;
}

.parking-detail {
	margin-bottom: 100px !important;
	background: #ffffff;
	.parking-item {
		padding: 0;
		flex-wrap: wrap;
		&:hover {
			box-shadow: none;
		}
		&>div {
			margin-bottom: 30px;
			padding: 0 0 40px 35px;
			width: 100%;
			border-bottom: 1px solid #d2d9df;
			&:last-child {
				margin-bottom: 0;
				border-bottom: none;
			}
		}
	}
}

.detail-parking-map {
	width: 100%;
	height: 100%;
}

.theme-road {
	position: relative;
	margin-top: 20px;
	display: inline-block !important;
	vertical-align: top;
	&:after {
		content: '';
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: #2e60b8;
		opacity: .31;
	}
}

/*______ End Parking ______*/


/*______ End Main Content ______*/
