/*______ Filter ______*/

.filter {
	position: relative;
	background-color: #ffffff;
	box-shadow: 0 5px 21px -2px rgba(0, 0, 0, 0.06);
	fieldset {
		margin: 0;
		padding: 0;
		border: none;
		padding: 23px 21px;
		border-bottom: 1px solid #d2d9df;
		&:last-child {
			border-bottom: none;
		}	
	}
	.group-title {
		position: relative;
		padding-right: 16px;
		color: #272d37;
		font-size: 18px;
		font-weight: 500;
		font-family: $secondFont;
		cursor: pointer;
		&.open-title {
			&:after {
				transform: rotateX(180deg);
			}
		}
		&:after {
			content: "\e906";
			position: absolute;
			top: 13px;
			right: 0;
			@include icomoon;
			font-size: 8px;
			color: #5f5e6b;
			transition: transform .3s ease-out;
		}
		&.no-arrow {
			&:after {
				display: none;
			}
		}
	}
	.group-list {
		padding-top: 27px;
		display: none;
		label.custom-label {
			margin-bottom: 15px;
		}
		&.open-list {
			display: block;
		}
		.checkbox {
			margin-bottom: 15px;
			label.custom-label {
				margin-bottom: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.btn-wrapper {
		padding: 9px 0;
		.btn {
			margin-bottom: 24px;
			padding: 18px 38px;
			border-radius: 0;
			&:last-child {
				margin-bottom: 0;
			}
			&--form {
				&:focus,&:active {
					@include gradient($blue, $red);
				}
			}
			&--form-gray {
				&:focus,&:active {
					@include gradient($blue, #f4f8fa);
					color: #ffffff;
				}
			}
		}
	}
}

.filter-form-wrapper {
	background-color: #ffffff;
	@media (min-width: $mob-xs) {
		position: absolute;
		top: 101%;
		left: 0;
		width: 100%;
		z-index: 850;
		display: none;
	};
	@media (min-width: $desk-w) {
		position: static;
		display: block !important;
	};
}

label.custom-label {
	position: relative;
	padding: 0;
	display: block;
	cursor: pointer;
	font-size: 0;
	input {
		position: absolute;
		top: 0;
		left: 0;
		width: 1px;
		height: 1px;
		opacity: 0;
		&:checked ~ .custom-checkbox {
			background-color: #2e60b8;
			border-color: #2e60b8;
			&:before {
				opacity: 1;
			}
		}
	}
	.custom-checkbox {
		position: relative;
		margin-right: 11px;
		display: inline-block;
		vertical-align: top;
		float: left;
		width: 16px;
		height: 16px;
		line-height: 16px;
		text-align: center;
		background-color: #f4f8fa;
		border: 1px solid #95a4b0;
		border-radius: 1px;
		transition: background-color .3s, border-color .3s ease-out;
		&:before {
			content: "\e90d";
			position: absolute;
			top: 2.5px;
			left: 1px;
			color: #ffffff;
			font-size: 9px;
			opacity: 0;
			@include icomoon;
			transition: opacity .3s ease-out;
		}
	}
	.custom-label {
		display: block !important;
		vertical-align: top;
		color: #666666;
		font-size: 12px;
		line-height: 18px;
		transition: color .3s ease-out;
		overflow: hidden;
	}
	&.font-label {
		line-height: 18px;
		.custom-label {
			color: #272d37;
			font-size: 18px;
			line-height: 18px;
			font-weight: 500;
			font-family: $secondFont;
		}
	}
}

.ui-slider-box {
	padding-bottom: 20px;
	.ui-slider {
		background-color: #d2d9df;
		border: none;
		border-radius: 1px;
		height: 4px;
		.ui-slider-handle {
			top: -5px;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
			background-color: #5f5e6b;
			cursor: pointer;
		}
		.ui-widget-header {
			background: $red;
		}
	}
}

.ui-slider-wrapper {
	position: relative;
	margin: 0 5px;
	padding: 0 5px;
	.ui-slider-min,
	.ui-slider-max {
		position: absolute;
		bottom: -35px;
		color: #666666;
		font-size: 11px;
		text-transform: uppercase;
	}
	.ui-slider-min {
		left: -5px
	}
	.ui-slider-max {
		right: -5px;
	}
}

.input-box {
	margin: 22px 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	label {
		margin-right: 14px;
		color: #666666;
		font-size: 12px;
		line-height: 14px;
	}
	input.js__ui-slider {
		padding: 9px 15px;
		width: 82px;
		height: 34px;
		color: #272d37;
		font-size: 12px;
		border-radius: 1px;
		border: 1px solid #95a4b0;
		background-color: #f4f8fa;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
				-webkit-appearance: none;
		}
	}
	.input-section {
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
		align-items: center;
		span {
			margin-left: 6px;
			font-size: 12px;
		}
	}
}

.filter-btn {
	margin-bottom: 24px;
	.btn {
		max-width: none;
	}
}

.bx-filter.bx-blue .bx-filter-section {
	background-color: #ffffff;
}

.bx-filter .bx-filter-title,
.bx-filter-parameters-box-title span {
	position: relative;
	padding-right: 16px;
	color: #272d37;
	font-size: 18px;
	font-weight: 500;
	font-family: "TT";
	cursor: pointer; 
	display: block;
	position: relative;
}

.bx-filter .bx-filter-parameters-box-title span {
	color: #272d37;
	border-bottom: none;
	cursor: pointer;
	display: block;
	position: relative;
}

.bx-filter .bx-filter-parameters-box-title span i {
	position: absolute;
	top: 4px;
	right: 0;
}

.bx-filter .bx-filter-parameters-box-title span i:before {
	font-size: 22px;
}

.bx-filter .row {
	margin: 0;
}

.bx-filter .row>div[class^="col"] {
	padding: 23px 21px;
	border-bottom: 1px solid #d2d9df;
}

.bx-filter .bx-filter-section>.row {
	padding: 0;
}

.bx-filter .bx-filter-parameters-box-title {
	padding-bottom: 0;
}

.bx-filter .bx-filter-section {
	padding: 0;
}

.btn-wrapper {
	.btn--form-gray {
		margin-bottom: 0;
	}
}

.bx-filter {
	.filter-btn {
		margin-bottom: 0;
	}
	.bx-filter-block .bx-left,
	.bx-filter-block .bx-right {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 23px 13px 0 0 !important;
		border-bottom: none !important;
	}
	.bx-filter-block .bx-left {
		@media (min-width: $mob-s) {
			justify-content: flex-start;
		};
		@media (min-width: $desk-w) {
			justify-content: space-between;
		};
	}
	.bx-filter-block .bx-right {
		@media (min-width: $mob-s) {
			justify-content: flex-end;
		};
		@media (min-width: $desk-w) {
			justify-content: space-between;
		};
	}
	.bx-ui-slider-track-container {
		margin-top: 0;
		border-bottom: none !important;
		.bx-ui-slider-part {
			display: none;
			&.p1,&.p5 {
				top: 25px;
				display: block;
				background: none;
			}
			&.p1 {
				left: 9px;
			}
			&.p5 {
				right: 9px;
			}
		}
	}
	.bx-filter-parameters-box-container {
		padding-bottom: 0;
		i.bx-ft-sub {
			padding-bottom: 0 !important;
			color: #666666;
	    font-size: 12px;
	    line-height: 14px;
	    text-transform: lowercase;
	    @media (min-width: $mob-xs) {
	    	margin-right: 15px;
	    };
	    @media (min-width: $desk-w) {
	    	margin-right: 0;
	    };
		}
		.bx-filter .bx-ui-slider-part {
			background: none;
		}
		.bx-ui-slider-track {
			height: 4px;
		}
		.bx-ui-slider-handle {
	    position: absolute;
	    width: 16px;
	    height: 16px;
	    border-bottom: none;
	    background: #5f5e6b !important;
	    border-radius: 50%;
	    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
	    top: -6px;
	    z-index: 999;
	    &.left {
				margin-left: -16px;
	    }
	    &.right {
	    	margin-right: -16px;
	    }
		}
		.bx-ui-slider-pricebar-v {
			background: #dd353d
		}
		.bx-ui-slider-pricebar-vn {
			background: #d2d9df;
		}
		.bx-ui-slider-range {
			z-index: 200;
		}
	}
	.bx-filter-input-container {
		input {
			padding: 9px 15px;
			width: 82px;
			height: 34px;
			color: #272d37;
			font-size: 12px;
			-webkit-border-radius: 1px;
			border-radius: 1px;
			border: 1px solid #95a4b0;
			background-color: #f4f8fa;
		}
	}
}

/*______ End Filter ______*/
