
@mixin list-reset() {
	margin: 0;
	padding: 0;
	list-style: none;
}

@mixin clearfix() {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}


@mixin object-fit() {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
	font-family: 'object-fit: cover; object-position: cover;';
}

@mixin text-size($font-size, $line-height) {
	font-size: $font-size;
	line-height: $line-height;
}

@mixin preloader ($width, $height) {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background: #ffffff url('../img/preloader.gif') center center no-repeat;
		background-size: $width $height;
		z-index: 999;
		transition: background .3s, z-index .3s ease-out;
	}
}

/* @mixin background-retina($filename, $fileformat) {
	background-image: url("../img/${filename}$1x.${fileformat}");

	$media: $retina-dpi, $retina-ppx {
		background-image: url("../img/${filename}$2x.${fileformat}");
	}
}
 */

@mixin icomoon() {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin gradient($from, $to) {
	background: linear-gradient(to left, $from 0%, $from 50% , $to 50% , $to 100%);
	background-size: 200%;
	background-position: 100%;
	&:hover {
		@media (min-width: $desk-w) {
			background-position: 0 0;
		};
	}
}

