{% block content %}
<!-- begin footer -->
<footer class="footer">
	<div class="footer__top">
		<div class="uk-container">
			<div class="uk-grid">
				<div class="uk-width-1-4@l">
					<div class="footer__title">Компания</div>
					<ul class="footer__list">
						<li><a href="#">О компании</a></li>
						<li><a href="#">Акции</a></li>
						<li><a href="#">Сервис</a></li>
						<li><a href="#">Новости</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</div>
				<div class="uk-width-1-4@l">
					<div class="footer__title">Каталог</div>
					<ul class="footer__list">
						<li><a href="#">Грузовая техника</a></li>
						<li><a href="#">Прицепная техника</a></li>
						<li><a href="#">Пассажирская техника</a></li>
						<li><a href="#">Спецтехника</a></li>
						<li><a href="#">Тракторы Беларус</a></li>
					</ul>
				</div>
				<div class="uk-width-1-4@l">
					<div class="footer__title">Клиентам</div>
					<ul class="footer__list">
						<li><a href="#">Сертификат дилера</a></li>
						<li><a href="#">Лизинговая программа</a></li>
						<li><a href="#">Региональные стоянки</a></li>
						<li><a href="#">Кредитные программы</a></li>
					</ul>
				</div>
				<div class="uk-width-1-4@l">
					<div class="footer__title">Контакты</div>
					<a href="tel:+74959214106" class="tel">+7 (495) 921-41-06</a>
					<a href="mailto:maz@mazcom.ru" class="mail icon-mail"><span>maz@mazcom.ru</span></a>
					<div class="soc-links">
						<div class="label">Мы в соцсетях:</div>
						<div class="soc-links__list">
							<a href="" class="icon-facebook fb"></a>
							<a href="" class="inst"></a> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="uk-container">
			<div class="uk-grid">
				<div class="uk-width-1-2@l">
					<div class="copyright">© 2010—2019 «МАЗКОМ»</div>
					<div class="politics">
						<a href="">Политика конфиденциальности</a>
					</div>
				</div>
				<div class="uk-width-1-2@l">
					<a href="https://aevrika.ru" class="ae-logo">
						<svg width="12px" height="13px" class="">
						  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icon-svg/sprite/sprite-svg.svg#ae_logo2"></use>
						</svg>
						<span>Разработка и продвижение — «ЭВРИКА»</span>
					</a>
				</div>
			</div>
			<div class="cookies-alert">
				Оставаясь на сайте, вы даете согласие на обработку файлов cookie и пользовательских данных в целях функционирования сайта, проведения статистических исследований и рекламы. По вопросам, связанным с использованием ваших персональных данных, обращайтесь на <a href="mailto:maz@mazcom.ru">maz@mazcom.ru</a>
			</div>
		</div>
	</div>
</footer><!-- end footer -->
{% endblock %}

