{% block content %}

<div id="callback" class="default-modal callback-modal" uk-modal>
		<div class="uk-modal-dialog">
				<button class="uk-modal-close-default" type="button" uk-close></button>
				<div class="uk-modal-header">
						<h2 class="uk-modal-title">Задать вопрос</h2>
				</div>
				<div class="uk-modal-body">
					<form action="" method="get" class="call-spec">
						<fieldset>
							<input id="name" type="text" placeholder="Ваше имя">
						</fieldset>
						<fieldset>
							<input id="tel" name="tel" type="text" class="tel js__input-phone" placeholder="+7" required>
						</fieldset>
						<fieldset>
							<input id="email" name="email" type="text" class="tel js__input-phone" placeholder="E-mail" required>
						</fieldset>
						<fieldset>
							<textarea name="" id="" placeholder="Ваш вопрос"></textarea>
						</fieldset>
						<div class="alert"><sup>*</sup>— поля обязательные для заполнения</div>
						<button class="btn btn--form" type="submit">Отправить сообщение</button>
					</form>
					<div class="politics">
						Нажимая на кнопку Отправить, я даю согласие на обработку <a href="">персональных данных</a>
					</div>
				</div>
		</div>
</div>

{% endblock %}
