/*______ Start Forms ______*/

.search-form {
	position: relative;
	top: 0;
	left: 0;
	padding: 20px 0;
	background-color: #ffffff;
	z-index: 500;
	transition: all .45s ease-out;
	@media (min-width: $mob-xs) {
		padding: 0;
	};
	@media (min-width: $desk-w) {
		padding: 20px 0;
	};
	input[type="text"] {
		width: 100%;
		font-weight: 600;
		font-family: $mainFont;
		border: none;
		outline: none;
		@media (min-width: $mob-xs) {
			padding: 9px 30px 9px 15px;
			font-size: 12px;
			line-height: 12px;
			border: 1px solid #95a4b0;
		};
		@media (min-width: $desk-w) {
			padding: 2px 0 2px 10px;
			font-size: 16px;
			line-height: 16px;
			border: none;
		};
	}
	&__btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		outline: none;
		@media (min-width: $mob-xs) {
			padding: 0;
			right: 0;
			width: 36px;
			height: 36px;
			line-height: 36px;
			background: #232a37;
			border: none;
			&:before {
				font-size: 16px;
				color: #ffffff;
			}
		};
		@media (min-width: $desk-w) {
			right: 12px;
			padding: 3px;
			width: 24px;
			height: 24px;
			line-height: 18px;
			font-size: 18px; 
			border: none;
			background-color: #ffffff;
			&:before {
				font-size: 18px;
				color: #768b9c;
			}
		};
		&:hover {
			&:before {
				color: $blue;
			}
		}
	}
}

.mobile-search-form {
	position: relative;
	margin: 20px 0 !important;
	input[type="text"] {
		padding: 9px 30px 9px 15px;
		width: 100%;
		font-size: 12px;
		line-height: 12px;
		border: 1px solid #95a4b0;
		background-color: #f4f8fa;
		font-family: $mainFont;
	}
	.btn-send {
		position: absolute;
		top: 0;
		right: 0;
		width: 36px;
		height: 36px;
		line-height: 36px;
		outline: none;
		text-align: center;
		background: #232a37;
		border: none;
		&:before {
			font-size: 16px;
			color: #ffffff;
		}
	}
}

.default-form {
	fieldset {
		margin: 0;
		padding: 0;
		border: none;
		margin-bottom: 15px !important;
	}

	label {
		margin-bottom: 8px;
		display: block;
		font-size: 14px;
		line-height: 16px;
		&.error {
			margin-top: 5px;
			color: #dd353d;
		}
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"] {
		padding: 26px;
		width: 100%;
		height: 62px;
		line-height: 62px;
		background-color: #ffffff;
		font-size: 14px;
		font-family: $mainFont;
		border: 1px solid #d2d9df;
		&.error {
			background: #ffffff url('../img/form-invalid.png') right 20px top 50% no-repeat;
			background-size: 20px 20px;
		}
		&.valid {
			background: #ffffff url('../img/form-valid.png') right 20px top 50% no-repeat;
			background-size: 20px 20px;
		}
	}
}

.order-form {
	.total-section {
		margin-bottom: 30px;
		padding: 20px 0;
		border-top: 1px solid #d2d9df;
		border-bottom: 1px solid #d2d9df;
		&__label {
			font-size: 16px;
			font-weight: 500;
		}
		&__value {
			font-size: 20px;
			line-height: 28px;
			font-weight: 700;
			font-family: $secondFont;
		}
	}
	.btn {
		margin: 0 auto;
		display: block;
		max-width: 320px;
	}
	.alert {
		text-align: left;
	}
	input[type="email"] {
		&.error,&.valid {
			background: none;
		}
	}
}

/*______ End Forms ______*/



/* .table-price {
	border-color: transparent;
	border-spacing: 4px;
  border-collapse: unset;
	thead {
		th {
			padding: 20px 12px;
			border: 2px solid transparent;
			background-color: #ffffff;
			picture {
				display: block;
				text-align: center;
			}
		}	
	}
	tbody {
		td {
			padding: 10px 12px;
			color: #242424;
			text-align: center;
			font-size: 14px;
			line-height: 20px;
			border: 4px solid transparent;
			background-color: #ffffff;
		}
	}
}

.bold {
	font-weight: bold;
}
.pink {
	background: #F2DCDB !important;
}
.light-orange {
	background: #FDE9D9 !important;
}
.light-blue {
	background: #DCE6F1 !important;
}
.light-green {
	background: #D8E4BC !important;
}

.table-price-mobile {
	tr {
		td {
			padding: 10px 5px;
			color: #242424;
			text-align: center;
			font-size: 14px;
			line-height: 20px;
			border: 4px solid transparent;
			background-color: #ffffff;
		}
		td:first-child {
			width: 50%;
		}
	}
}

.hidden-mobile {
	display: none !important;
}

.hidden-large {
	display: none !important;
}
 */
