{% extends "layouts/default.twig" %}
{% set title="МАЗ МК 3412-02" %}
{% set bread = ["Главная", "Грузовая техника", "Тягачи МАЗ", "МАЗ МК 3112-02"] %}
{% block content %}
	<div class="uk-container">
		<div class="breadcrumbs-wrapper">
			{% include "includes/breadcrumbs.twig" %}
		</div> 
		<!-- begin content -->
		 <div class="content">
			
					<!-- begin detail-card -->
					<div class="detail-card">
						<div class="uk-grid">
							<div class="uk-width-5-6@m">
								<div id="desc" class="detail-card__inner">
									<h1 class="title-h1">МАЗ МК 3412-02</h1>

									<div class="detail-toolbar">
										<div class="product-availability icon-check">В наличии</div>
										<div class="product-compare">
											<a href="">
												<i class="icon-compare"></i>
												<div class="product-compare__text">Добавить в  сравнение</div>
											</a>
										</div>
										<div class="product-print">
											<a href="" onclick="window.print();">
												<i class="icon-print"></i>
												<span class="product-print__text">Распечатать страницу</span>
											</a>
										</div>
									</div>
									
									<!-- begin detail-slider -->
									<div class="detail-slider">
										<div class="slider">
											<div class="slide" uk-lightbox>
												<a href="img/detail-img-1-454x-402.png">
													<img data-lazy="img/detail-img-1-454x-402.png" alt="">
												</a>
												<div class="stocks">
													<div class="new">Новинка</div>
												</div>
											</div>
											<div class="slide" uk-lightbox>
												<a href="img/detail-img-1-454x-402.png">
													<img data-lazy="img/detail-img-1-454x-402.png" alt="">
												</a>
												<div class="stocks">
													<div class="discount">-7%</div>
												</div>
											</div>
										</div>
										<div class="slider__arrows slider__arrows--fill">
											<div class="slide-prev"><i class="icon-arrow-left"></i></div>
											<div class="slide-next"><i class="icon-arrow-right"></i></div>
										</div>
									</div><!-- end detail-slider -->

									<!-- begin detail-desc -->
									<div class="detail-desc">
										<div class="detail-desc__inner">
											<div class="medium-title">Характеристики</div>
											<ul class="options-list">
												<li>
													<span class="options-list__type">Собственный вес</span>
													<span class="separate"></span>
													<span class="options-list__value">9000 кг</span>
												</li>
												<li>
													<span class="options-list__type">Максимальный вес</span>
													<span class="separate"></span>
													<span class="options-list__value">15000 кг</span>
												</li>
												<li>
													<span class="options-list__type">Габариты</span>
													<span class="separate"></span>
													<span class="options-list__value">5435 х 2240 х 2000 мм</span>
												</li>
												<li>
													<span class="options-list__type">Радиус разворота</span>
													<span class="separate"></span>
													<span class="options-list__value">4900 мм</span>
												</li>
												<li>
													<span class="options-list__type">Двигатель</span>
													<span class="separate"></span>
													<span class="options-list__value">Deutz TD 2011 L4w, 55 кВт (75 л/с)</span>
												</li>
												<li>
													<span class="options-list__type">Трансмиссия</span>
													<span class="separate"></span>
													<span class="options-list__value">DANA-T12000, 6 скоростей вперед, 3 назад</span>
												</li>
											</ul>
											<a href="#options" class="options-list-toggle" uk-scroll>Все характеристики</a>
										</div>
									</div><!-- end detail-desc -->
								</div>
							</div>
							<div class="uk-width-1-6@m">
								<!-- begin right-sidebar -->
								<div class="right-sidebar">
									<div class="right-sidebar__offers">
										<div class="prices">
											<div class="old-price">2 350 000 р.</div>
											<div class="current-price">2 976 000 р.</div>
										</div>
										<div class="stocks">
											<div class="discount">-7%</div>
										</div>
										<a href="" class="btn">Купить</a>
										<a href="" class="btn btn--gray">Купить в кредит или лизинг</a>
									</div>
								</div><!-- end right-sidebar -->

								<!-- begin scroll-nav -->
								<ul class="scroll-nav uk-visible@l" uk-sticky="media: @m;bottom: .content">
									<li class="active"><a href="#desc" uk-scroll>Описание</a></li>
									<li><a href="#options" uk-scroll>Характеристики</a></li>
									<li><a href="#modifi" uk-scroll>Модификации</a></li>
									<li><a href="#stocks" uk-scroll>Акции</a></li>
									<li><a href="#analogs" uk-scroll>Аналоги</a></li>
									<li><a href="#compatible-tech" uk-scroll>Совместимая техника</a></li>
								</ul><!-- end scroll-nav -->
							</div>
						</div>
					</div><!-- end detail-card -->
					
					<!-- begin detail-options -->
					<div id="options" class="detail-section" uk-scrollspy="cls:slide-up; delay: 0; repeat: false">
						<div class="uk-grid">
							<div class="uk-width-5-6@m">
								<div class="white-wrapper">
									<ul class="tabs" uk-switcher="swiping: false">
										<li><a href="#"><span class="tab__title">Характеристики</span></a></li>
										<li><a href="#"><span class="tab__title">Описание</span></a></li>
										<li><a href="#"><span class="tab__title">Комплектация</span></a></li>
										<li><a href="#"><span class="tab__title">Видео</span></a></li>
									</ul>
									<ul class="uk-switcher">
										<li>
											<div class="uk-grid">
												<div class="uk-width-1-2@m">
													<table>
														<tr>
															<td>Собственный вес</td>
															<td>9000кг</td>
														</tr>
														<tr>
															<td>Максимальный вес</td>
															<td>15000кг</td>
														</tr>
														<tr>
															<td>Габариты</td>
															<td>5435 х 2240 х 2000 мм</td>
														</tr>
														<tr>
															<td>Радиус поворота</td>
															<td>4900 мм</td>
														</tr>
														<tr>
															<td>Двигатель</td>
															<td>Deutz TD 2011 L4w, 55 кВт (75 л/с)</td>
														</tr>
														<tr>
															<td>Трансмиссия</td>
															<td>DANA-T12000, 6 скоростей вперед, 3 назад</td>
														</tr>
													</table>
												</div>
												<div class="uk-width-1-2@m">
													<table>
														<tr>
															<td>Привод</td>
															<td>механический полный</td>
														</tr>
														<tr>
															<td>Режимый руления</td>
															<td>передними колесами / cкоординировано всеми колесами</td>
														</tr>
														<tr>
															<td>Емкость топливного бака</td>
															<td>80 л</td>
														</tr>
														<tr>
															<td>Размер колес</td>
															<td>275/70 R22,5 односкатные спереди и сзади</td>
														</tr>
														<tr>
															<td>Максимальное тяговое усиление</td>
															<td>101 кН</td>
														</tr>
														<tr>
															<td>Максимальная скорость</td>
															<td>30км/ч</td>
														</tr>
													</table>
												</div>
											</div>
										</li>
										<li></li>
										<li></li>
										<li>
											<iframe width="100%" height="500px" src="https://www.youtube.com/embed/H4IZ_3zqouo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div><!-- end detail-options -->
					
					<!-- begin detail-modifi -->
					<div id="modifi" class="detail-section" uk-scrollspy="cls:slide-up; delay: 0; repeat: false">
						<div class="uk-grid">
							<div class="uk-width-5-6@m">
								<div class="white-wrapper">
									<div class="medium-title border-bottom">Модификации</div>
									<ul class="modifi-list">
										<li><a href="#">МАЗ 6312С5-8525-012 с КМУ Dong Yang SS1956</a></li>
										<li><a href="#">МАЗ 5440B3-1480-030</a></li>
										<li><a href="#">МАЗ 5440С5-8520-031</a></li>
										<li><a href="#">МАЗ-544029-1420-031</a></li>
										<li><a href="#">МАЗ-5440B9-8479-013</a></li>
										<li><a href="#">МАЗ-5440E9-520-031</a></li>
										<li><a href="#">МАЗ 6312С5-8525-012 с КМУ Dong Yang SS1956</a></li>
										<li><a href="#">МАЗ 5440B3-1480-030</a></li>
										<li><a href="#">МАЗ 5440С5-8520-031</a></li>
										<li><a href="#">МАЗ-544029-1420-031</a></li>
										<li><a href="#">МАЗ-5440B9-8479-013</a></li>
										<li><a href="#">МАЗ-5440E9-520-031</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div><!-- end detail-modifi -->
					
					<!-- begin detail-stocks -->
					<div id="stocks" class="detail-section" uk-scrollspy="cls:slide-up; delay: 0; repeat: false">
						<div class="uk-grid">
							<div class="uk-width-5-6@m">
								<div class="white-wrapper">
									<div class="medium-title border-bottom">Акции</div>
									<!-- begin offers -->
									<div class="offers-slider">
										<div class="slider">
											<div class="slide">
												<div class="offer" style="background-image:url('img/offer-img-2.png'), linear-gradient(135deg, #f06570 0%, #dd353d 100%);">
													<a href="">
														<div class="offer__title">
															Последний шанс! Купи МАЗ Евро-4
														</div>
														<div class="offer__text" >
															В конце 2017 г. ОАО «МАЗ» перешел на выпуск Евро-5. Что привело к повышению цен на технику МАЗ. Только у нас вы можете приобрести последние позиции МАЗ Евро-4 по старой, выгодной цене!
														</div>
														<div class="read-more icon-arrow-right">Узнать больше</div>
													</a>
												</div>
											</div>
											<div class="slide">
												<div class="offer" style="background-image:url('img/offer-img-2.png'), linear-gradient(135deg, #5a99dd 0%, #2e60b8 100%);">
													<a href="">
														<div class="offer__title">
															Выгодные кредитные программы
														</div>
														<div class="offer__text" >
															Рады предложить Вашему вниманию лизинговые и кредитные программы с наиболее выгодными условиями и минимальным пакетом документов от ряда ведущих банков и лизинговых компаний. Наши партнёры имеют филиалы и представительства практически во всех регионах России.
														</div>
														<div class="read-more icon-arrow-right">Узнать больше</div>
													</a>
												</div>
											</div>
											<div class="slide">
												<div class="offer" style="background-image:url('img/offer-img-1.png'),linear-gradient(135deg, #36cd58 0%, #669f19 100%);">
													<a href="">
														<div class="offer__title">
															Выгодные кредитные программы
														</div>
														<div class="offer__text" >
															Кредит Сбербанка под 7% годовых
														</div>
														<div class="offer__logo">
															<img src="img/offer-logo.png" alt="">
														</div>
														<div class="read-more icon-arrow-right">Узнать больше</div>
													</a>
												</div>
											</div>
										</div>
										<div class="slider__arrows slider__arrows--fill">
											<div class="slide-prev"><i class="icon-arrow-left"></i></div>
											<div class="slide-next"><i class="icon-arrow-right"></i></div>
										</div>
									</div><!-- end offers -->
								</div>
							</div>
						</div>
					</div><!-- end detail-stocks -->
					
					<!-- begin analogs -->
					<div id="analogs" class="detail-section" uk-scrollspy="cls:slide-up; delay: 0; repeat: false">
						<div class="uk-grid">
							<div class="uk-width-5-6@m">
								<div class="white-wrapper">
									<div class="medium-title border-bottom">Аналоги</div>

									<!-- begin products-slider -->
									<div class="products-slider">
										<div class="slider">
											<div class="slide">
												<div class="card">
													<div class="card__img">
														<a href="">
															<img class="lazy" alt="" data-src="img/card-img-2.png">
														</a>
													</div>
													<div class="card__text">
														<div class="card__product-name">
															<a href="">МАЗ 5440A9-1320-031P1</a>
														</div>
														<a href="" class="card-btn card-btn--call">
															<span class="prices">
																	<span class="old-price">2 350 000 р.</span>
															<span class="current-price">4 679 000 р.</span>
															</span>
															<span class="text">Запросить цену</span>
														</a>
														
														<ul class="options-list">
															<li>
																<span class="options-list__type">Производитель</span>
																<span class="separate"></span>
																<span class="options-list__value">КАМАЗ</span>
															</li>
															<li>
																<span class="options-list__type">Полная масса прицепа, кг </span>
																<span class="separate"></span>
																<span class="options-list__value">14000</span>
															</li>
															<li>
																<span class="options-list__type">Габаритные размеры. Длина, мм</span>
																<span class="separate"></span>
																<span class="options-list__value">7920</span>
															</li>
															<li>
																<span class="options-list__type">Мощность двигателя, л.с.</span>
																<span class="separate"></span>
																<span class="options-list__value">300</span>
															</li>
															<li>
																<span class="options-list__type">Колесная формула</span>
																<span class="separate"></span>
																<span class="options-list__value">6х4</span>
															</li>
														</ul>
													</div>

													<div class="card__status">
														<div class="product-availability icon-check">В наличии</div>

														<div class="product-compare">
															<a href="" class="icon-compare" uk-tooltip="title:Добавить в сравнение; pos: right"></a>
														</div>
													</div>

													<div class="stocks">
														<div class="discount">-7%</div>
														<div class="new">Новинка</div>
													</div>

												</div>
											</div>
											<div class="slide">
												<div class="card">
													<div class="card__img">
														<a href="">
															<img class="lazy" alt="" data-src="img/card-img-3.png">
														</a>
													</div>
													<div class="card__text">
														<div class="card__product-name">
															<a href="">МАЗ 5440A9-1320-031P1</a>
														</div>
														<a href="" class="card-btn card-btn--discount">
															<span class="prices">
																	<span class="old-price">2 350 000 р.</span>
															<span class="current-price">4 679 000 р.</span>
															</span>
															<span class="text">Заказать</span>
														</a>
														
														<ul class="options-list">
															<li>
																<span class="options-list__type">Производитель</span>
																<span class="separate"></span>
																<span class="options-list__value">КАМАЗ</span>
															</li>
															<li>
																<span class="options-list__type">Полная масса прицепа, кг </span>
																<span class="separate"></span>
																<span class="options-list__value">14000</span>
															</li>
															<li>
																<span class="options-list__type">Габаритные размеры. Длина, мм</span>
																<span class="separate"></span>
																<span class="options-list__value">7920</span>
															</li>
															<li>
																<span class="options-list__type">Мощность двигателя, л.с.</span>
																<span class="separate"></span>
																<span class="options-list__value">300</span>
															</li>
															<li>
																<span class="options-list__type">Колесная формула</span>
																<span class="separate"></span>
																<span class="options-list__value">6х4</span>
															</li>
														</ul>
													</div>

													<div class="card__status">
														<div class="product-availability icon-check">В наличии</div>

														<div class="product-compare">
															<a href="" class="icon-compare" uk-tooltip="title:Добавить в сравнение; pos: right"></a>
														</div>
													</div>

													<div class="stocks">
														<div class="discount">-7%</div>
														<div class="new">Новинка</div>
													</div>

												</div>
											</div>
											<div class="slide">
												<div class="card">
													<div class="card__img">
														<a href="">
															<img class="lazy" alt="" data-src="img/card-img-4.png">
														</a>
													</div>
													<div class="card__text">
														<div class="card__product-name">
															<a href="">МАЗ 5440A9-1320-031P1</a>
														</div>
														<a href="" class="card-btn card-btn--call">
															<span class="prices">
																	<span class="old-price">2 350 000 р.</span>
															<span class="current-price">4 679 000 р.</span>
															</span>
															<span class="text">Запросить цену</span>
														</a>
														
														<ul class="options-list">
															<li>
																<span class="options-list__type">Производитель</span>
																<span class="separate"></span>
																<span class="options-list__value">КАМАЗ</span>
															</li>
															<li>
																<span class="options-list__type">Полная масса прицепа, кг </span>
																<span class="separate"></span>
																<span class="options-list__value">14000</span>
															</li>
															<li>
																<span class="options-list__type">Габаритные размеры. Длина, мм</span>
																<span class="separate"></span>
																<span class="options-list__value">7920</span>
															</li>
															<li>
																<span class="options-list__type">Мощность двигателя, л.с.</span>
																<span class="separate"></span>
																<span class="options-list__value">300</span>
															</li>
															<li>
																<span class="options-list__type">Колесная формула</span>
																<span class="separate"></span>
																<span class="options-list__value">6х4</span>
															</li>
														</ul>
													</div>

													<div class="card__status">
														<div class="product-availability icon-check">В наличии</div>

														<div class="product-compare">
															<a href="" class="icon-compare" uk-tooltip="title:Добавить в сравнение; pos: right"></a>
														</div>
													</div>

													<div class="stocks">
														<div class="discount">-7%</div>
														<div class="new">Новинка</div>
													</div>

												</div>
											</div>
											<div class="slide">
												<div class="card">
													<div class="card__img">
														<a href="">
															<img class="lazy" alt="" data-src="img/card-img-5.png">
														</a>
													</div>
													<div class="card__text">
														<div class="card__product-name">
															<a href="">МАЗ 5440A9-1320-031P1</a>
														</div>
														<a href="" class="card-btn card-btn--call">
															<span class="prices">
																	<span class="old-price">2 350 000 р.</span>
															<span class="current-price">4 679 000 р.</span>
															</span>
															<span class="text">Запросить цену</span>
														</a>
														
														<ul class="options-list">
															<li>
																<span class="options-list__type">Производитель</span>
																<span class="separate"></span>
																<span class="options-list__value">КАМАЗ</span>
															</li>
															<li>
																<span class="options-list__type">Полная масса прицепа, кг </span>
																<span class="separate"></span>
																<span class="options-list__value">14000</span>
															</li>
															<li>
																<span class="options-list__type">Габаритные размеры. Длина, мм</span>
																<span class="separate"></span>
																<span class="options-list__value">7920</span>
															</li>
															<li>
																<span class="options-list__type">Мощность двигателя, л.с.</span>
																<span class="separate"></span>
																<span class="options-list__value">300</span>
															</li>
															<li>
																<span class="options-list__type">Колесная формула</span>
																<span class="separate"></span>
																<span class="options-list__value">6х4</span>
															</li>
														</ul>
													</div>

													<div class="card__status">
														<div class="product-availability icon-check">В наличии</div>

														<div class="product-compare">
															<a href="" class="icon-compare" uk-tooltip="title:Добавить в сравнение; pos: right"></a>
														</div>
													</div>

													<div class="stocks">
														<div class="discount">-7%</div>
														<div class="new">Новинка</div>
													</div>

												</div>
											</div>
										</div>
										<div class="slider__arrows slider__arrows--fill">
											<div class="slide-prev"><i class="icon-arrow-left"></i></div>
											<div class="slide-next"><i class="icon-arrow-right"></i></div>
										</div>
									</div><!-- end products-slider -->

								</div>
							</div>
						</div>
					</div><!-- end analogs -->
					
					<!-- begin compatible-tech -->
					<div id="compatible-tech" class="detail-section" uk-scrollspy="cls:slide-up; delay: 0; repeat: false">
						<div class="uk-grid">
							<div class="uk-width-5-6@m">
								<div class="white-wrapper">
									<div class="detail-section__header">
										<div class="medium-title">Совместимая техника</div>
										<div class="text">Здесь можно разместить поясняющий текст про совместимую технику , по какому принципу она показывается</div>
									</div>
									<!-- begin products-slider -->
									<div class="products-slider">
										<div class="slider">
											<div class="slide">
												<div class="card">
													<div class="card__img">
														<a href="">
															<img class="lazy" alt="" data-src="img/card-img-9.png">
														</a>
													</div>
													<div class="card__text">
														<div class="card__product-name">
															<a href="">МАЗ 5440A9-1320-031P1</a>
														</div>
														<a href="" class="card-btn card-btn--call">
															<span class="prices">
																	<span class="old-price">2 350 000 р.</span>
															<span class="current-price">4 679 000 р.</span>
															</span>
															<span class="text">Запросить цену</span>
														</a>
														
														<ul class="options-list">
															<li>
																<span class="options-list__type">Производитель</span>
																<span class="separate"></span>
																<span class="options-list__value">КАМАЗ</span>
															</li>
															<li>
																<span class="options-list__type">Полная масса прицепа, кг </span>
																<span class="separate"></span>
																<span class="options-list__value">14000</span>
															</li>
															<li>
																<span class="options-list__type">Габаритные размеры. Длина, мм</span>
																<span class="separate"></span>
																<span class="options-list__value">7920</span>
															</li>
															<li>
																<span class="options-list__type">Мощность двигателя, л.с.</span>
																<span class="separate"></span>
																<span class="options-list__value">300</span>
															</li>
															<li>
																<span class="options-list__type">Колесная формула</span>
																<span class="separate"></span>
																<span class="options-list__value">6х4</span>
															</li>
														</ul>
													</div>

													<div class="card__status">
														<div class="product-availability icon-check">В наличии</div>

														<div class="product-compare">
															<a href="" class="icon-compare" uk-tooltip="title:Добавить в сравнение; pos: right"></a>
														</div>
													</div>

													<div class="stocks">
														<div class="discount">-7%</div>
														<div class="new">Новинка</div>
													</div>

												</div>
											</div>
											<div class="slide">
												<div class="card">
													<div class="card__img">
														<a href="">
															<img class="lazy" alt="" data-src="img/card-img-10.png">
														</a>
													</div>
													<div class="card__text">
														<div class="card__product-name">
															<a href="">МАЗ 5440A9-1320-031P1</a>
														</div>
														<a href="" class="card-btn card-btn--discount">
															<span class="prices">
																	<span class="old-price">2 350 000 р.</span>
															<span class="current-price">4 679 000 р.</span>
															</span>
															<span class="text">Заказать</span>
														</a>
														
														<ul class="options-list">
															<li>
																<span class="options-list__type">Производитель</span>
																<span class="separate"></span>
																<span class="options-list__value">КАМАЗ</span>
															</li>
															<li>
																<span class="options-list__type">Полная масса прицепа, кг </span>
																<span class="separate"></span>
																<span class="options-list__value">14000</span>
															</li>
															<li>
																<span class="options-list__type">Габаритные размеры. Длина, мм</span>
																<span class="separate"></span>
																<span class="options-list__value">7920</span>
															</li>
															<li>
																<span class="options-list__type">Мощность двигателя, л.с.</span>
																<span class="separate"></span>
																<span class="options-list__value">300</span>
															</li>
															<li>
																<span class="options-list__type">Колесная формула</span>
																<span class="separate"></span>
																<span class="options-list__value">6х4</span>
															</li>
														</ul>
													</div>

													<div class="card__status">
														<div class="product-availability icon-check">В наличии</div>

														<div class="product-compare">
															<a href="" class="icon-compare" uk-tooltip="title:Добавить в сравнение; pos: right"></a>
														</div>
													</div>

													<div class="stocks">
														<div class="discount">-7%</div>
														<div class="new">Новинка</div>
													</div>

												</div>
											</div>
											<div class="slide">
												<div class="card">
													<div class="card__img">
														<a href="">
															<img class="lazy" alt="" data-src="img/card-img-11.png">
														</a>
													</div>
													<div class="card__text">
														<div class="card__product-name">
															<a href="">МАЗ 5440A9-1320-031P1</a>
														</div>
														<a href="" class="card-btn card-btn--call">
															<span class="prices">
																	<span class="old-price">2 350 000 р.</span>
															<span class="current-price">4 679 000 р.</span>
															</span>
															<span class="text">Запросить цену</span>
														</a>
														
														<ul class="options-list">
															<li>
																<span class="options-list__type">Производитель</span>
																<span class="separate"></span>
																<span class="options-list__value">КАМАЗ</span>
															</li>
															<li>
																<span class="options-list__type">Полная масса прицепа, кг </span>
																<span class="separate"></span>
																<span class="options-list__value">14000</span>
															</li>
															<li>
																<span class="options-list__type">Габаритные размеры. Длина, мм</span>
																<span class="separate"></span>
																<span class="options-list__value">7920</span>
															</li>
															<li>
																<span class="options-list__type">Мощность двигателя, л.с.</span>
																<span class="separate"></span>
																<span class="options-list__value">300</span>
															</li>
															<li>
																<span class="options-list__type">Колесная формула</span>
																<span class="separate"></span>
																<span class="options-list__value">6х4</span>
															</li>
														</ul>
													</div>

													<div class="card__status">
														<div class="product-availability icon-check">В наличии</div>

														<div class="product-compare">
															<a href="" class="icon-compare" uk-tooltip="title:Добавить в сравнение; pos: right"></a>
														</div>
													</div>

													<div class="stocks">
														<div class="discount">-7%</div>
														<div class="new">Новинка</div>
													</div>

												</div>
											</div>
											<div class="slide">
												<div class="card">
													<div class="card__img">
														<a href="">
															<img class="lazy" alt="" data-src="img/card-img-5.png">
														</a>
													</div>
													<div class="card__text">
														<div class="card__product-name">
															<a href="">МАЗ 5440A9-1320-031P1</a>
														</div>
														<a href="" class="card-btn card-btn--call">
															<span class="prices">
																	<span class="old-price">2 350 000 р.</span>
															<span class="current-price">4 679 000 р.</span>
															</span>
															<span class="text">Запросить цену</span>
														</a>
														
														<ul class="options-list">
															<li>
																<span class="options-list__type">Производитель</span>
																<span class="separate"></span>
																<span class="options-list__value">КАМАЗ</span>
															</li>
															<li>
																<span class="options-list__type">Полная масса прицепа, кг </span>
																<span class="separate"></span>
																<span class="options-list__value">14000</span>
															</li>
															<li>
																<span class="options-list__type">Габаритные размеры. Длина, мм</span>
																<span class="separate"></span>
																<span class="options-list__value">7920</span>
															</li>
															<li>
																<span class="options-list__type">Мощность двигателя, л.с.</span>
																<span class="separate"></span>
																<span class="options-list__value">300</span>
															</li>
															<li>
																<span class="options-list__type">Колесная формула</span>
																<span class="separate"></span>
																<span class="options-list__value">6х4</span>
															</li>
														</ul>
													</div>

													<div class="card__status">
														<div class="product-availability icon-check">В наличии</div>

														<div class="product-compare">
															<a href="" class="icon-compare" uk-tooltip="title:Добавить в сравнение; pos: right"></a>
														</div>
													</div>

													<div class="stocks">
														<div class="discount">-7%</div>
														<div class="new">Новинка</div>
													</div>

												</div>
											</div>
										</div>
										<div class="slider__arrows slider__arrows--fill">
											<div class="slide-prev"><i class="icon-arrow-left"></i></div>
											<div class="slide-next"><i class="icon-arrow-right"></i></div>
										</div>
									</div><!-- end products-slider -->
								</div>
							</div>
						</div>
					</div><!-- end compatible-tech -->
					
					<!-- begin seo-block -->
					<div class="seo-block">
						<div class="uk-grid">
							<div class="uk-width-5-6@m">
								<h3 class="title-h3">Компания «МАЗКОМ»</h3>
								<div class="text">
									Тягачи МАЗ широко известен надежностью и безотказностью. Такой спецтранспорт используется при организации автопоездов, позволяющих осуществлять доставку различного вида грузов. Белорусский производитель выпускает спецтехнику различной грузоподъемности и предлагает разные комплектации. Поэтому выбрать для решения определенных задач оптимальный тягач несложно.
								</div>
							</div>
						</div>
					</div><!-- end seo-block -->

		 </div><!-- end content --> 
	</div>
{% endblock %}
