{% extends "layouts/default.twig" %}
{% set title="Лизинг" %}
{% set bread = ["Главная", "Лизинг"] %}
{% set activePosition = "2" %}
{% block content %}
	<div class="uk-container">
		<div class="breadcrumbs-wrapper">
			{% include "includes/breadcrumbs.twig" %}
		</div>
		<div class="uk-grid">
			<div class="uk-width-1-6@m">
				{% include 'includes/sidebar-nav.twig' %}
			</div>
			<div class="uk-width-5-6@m">
				<!-- begin content -->
				<div class="content">
					<!-- begin leasing -->
					<div class="leasing">
						<h1 class="title-h1">Льготный кредит/лизинг</h1>
						<div class="lead-text">
							Программы финансирования покупкитехники белорусского производства  в России на специальных условиях.
						</div>
						<p>
							Программа льготного кредитования/лизинга банками и лизинговыми компаниями-нерезидентами Республики Беларусь (Указ Президента Республики Беларусь № 466 от 24.09.2009) пролонгирована на 2019-2020 Указом Президента Республики Беларусь № 31 от 29.01.2019 «Об изменении и дополнении Указа Президента Республики Беларусь» с внесением следующих изменений и дополнений, а именно:
						</p>
						<h2 class="title-h2">1.Льготный кредит</h2>
						<div class="lead-text">
							Программа льготного кредитования банками-резидентами РФ, условия предоставления, валюта рос. руб.:
						</div>
						<ul>
							<li>
								Сроки финансирования от 1 года до 5 лет;
							</li>
							<li>
								Минимальное собственное участие кредитополучателя в проекте не менее 10% от суммы контракта;
							</li>
							<li>
								С 01.01.2019 проценты компенсируются в размере 2/3 ставки рефинансирования (ключевой ставки) ЦБ РФ, действующей на дату заключения кредитного договора;
							</li>
							<li>
								Требования, предъявляемые к кредитополучателю - устойчивое финансовое положение и возможность предоставления обеспечения по сделке;
							</li>
							<li>
								Прочие условия предоставления кредита - в соответствии с коммерческой политикой банка-нерезидента Республики Беларусь
							</li>
						</ul>

						<!-- begin requisites -->
						<div class="requisites">
							<div class="requisites__title">Перечень банков-резидентов РФ:</div>
							<div class="uk-grid">
								<div class="uk-width-1-2@m">
									<a href="#">ПАО «Сбербанк России»</a>
									<a href="#">АКБ «АК БАРС»</a>
									<a href="#">ПАО «Московский Индустриальный банк»</a>
									<a href="#">ПАО «Банк «Санкт-Петербург»</a>
									<a href="#">АО «Банк Акцепт»</a>
									<a href="#">ОАО «Банк ВТБ»​​​​​​​</a>	
								</div>
								<div class="uk-width-1-2@m">
									<a href="#">ПАО «Банк ВТБ 24»</a>
									<a href="#">ПАО «Банк «Финансовая корпорация Открытие»</a>
									<a href="#">АО «Газпромбанк»</a>
									<a href="#">ГК «Банк развития и внешнеэкономической деятельности (Внешэкономбанк)»</a>
									<a href="#">АО «АЛЬФА - БАНК»</a>
								</div>
							</div>
						</div><!-- end requisites -->
						
						<h2 class="title-h2">2.Льготный лизинг</h2>
						<div class="lead-text">
							Программа льготного лизинга лизинговыми компаниями-резидентами РФ, условия предоставления, валюта рос. руб.:
						</div>
						<ul>
							<li>
								Сроки финансирования от 1 года до 5 лет;
							</li>
							<li>
								Минимальное собственное участие лизингополучателя в проекте не менее 10% от суммы договора аренды (лизинга);
							</li>
							<li>
								Проценты компенсируются в размере 2/3 ставки рефинансирования (ключевой ставки) ЦБ РФ, действующей на дату заключения договора лизинга;
							</li>
							<li>
								Требования, предъявляемые к лизингополучателю устойчивое финансовое положение и возможность предоставления обеспечения по сделке;
							</li>
							<li>
								Прочие условия предоставления льготного лизинга - в соответствии с коммерческой политикой лизинговой компании-нерезидента Республики Беларусь
							</li>
						</ul>
						<!-- begin requisites -->
						<div class="requisites">
							<div class="requisites__title">Перечень лизинговых компаний-резидентов РФ:</div>
							<div class="uk-grid">
								<div class="uk-width-1-2@m">
									<a href="">АО «Сбербанк Лизинг»</a>
									<a href="">ООО «Балтийский лизинг»</a>
									<a href="">ООО «Лизинг-Трейд»</a>
									<a href="">ПАО «ТрансФин-М»</a>
									<a href="">АО ЛК «Европлан»</a>
									<a href="">АО «Тюмень агропромышленная лизинговая компания»</a>
									<a href="">ООО «ПРОМАГРОЛИЗИНГ-ЦЕНТР»</a>
									<a href="">АО «ВЭБ-лизинг»</a>
									<a href="">АО «Газпромбанк Лизинг»</a>
									<a href="">ООО «КУЗБАССЛИЗИНГ»</a>
								</div>
								<div class="uk-width-1-2@m">
									<a href="">АО «Металлоинвестлизинг»</a>
									<a href="">ООО «Лизинговая компания «Дельта»</a>
									<a href="">ООО «ЮниКредит Лизинг»</a>
									<a href="">ООО «Лизинговая компания «СТОУН-XXI»</a>
									<a href="">ООО «Альфа-Лизинг»</a>
									<a href="">АО «ВТБ Лизинг»</a>
									<a href="">ООО «Национальная Лизинговая Компания»</a>
									<a href="">ПАО «Государственная транспортная лизинговая компания»</a>
								</div>
							</div>
						</div><!-- end requisites -->
						<div class="requisites-subtitle">
							<sup>*</sup> перечень банков и лизинговых компаний – резидентов РФ может быть дополнен (скорректирован)
						</div>
					</div><!-- end leasing -->
				</div><!-- end content -->
			</div>
		</div>
	</div>
{% endblock %}
