{% extends "layouts/default.twig" %}
{% set title="Стоянки" %}
{% set bread = ["Главная", "Стоянки"] %}
{% set activePosition = "1" %}
{% block content %}
  <div class="uk-container">
		<div class="breadcrumbs-wrapper">
			{% include "includes/breadcrumbs.twig" %}
		</div>
  	<div class="uk-grid">
  		<div class="uk-width-1-6@l">
  			{% include 'includes/sidebar-nav.twig' %}
  		</div>
  		<div class="uk-width-5-6@l">
  			<!-- begin parking -->
  			<div class="parking">
  				<h1 class="title-h1 border-bottom">Стоянки</h1>
					<!-- begin sort-panel -->
					<div class="sort-panel">
						<div class="custom-select">
							<div class="custom-select__label uk-visible@l">Выберите город </div>
							<select name="" id="" class="js__custom-select" data-theme="default">
								<option value="">Москва</option>
								<option value="">Екатеринбург</option>
								<option value="">Тверь</option>
							</select>
						</div>
					</div><!-- end sort-panel -->

					<!-- begin parking-map -->
					<div id="parking-map" class="parking-map">
						
					</div><!-- end parking-map -->
					
					<ul class="parking-list">
						<li>
							<div class="parking-item">
								<div class="parking-item__address icon-pin">
									Москва, ул.Полярная, 31В, стр.1
								</div>
								<div class="parking-item__contacts icon-phone">
									<div class="parking-item__title">Телефон:</div>
									<a href="tel:+74957486231">+7 (495) 748-62-31</a>
									<a href="tel:+74957486241">+7 (495) 748-62-41</a>
								</div>
								<div class="parking-item__timework icon-clock">
									<div class="parking-item__title">Режим работы:</div>
									Понедельник—воскресенье: с 9:00 до 21:00
								</div>
								<div class="parking-tooltip">
									<div class="open"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="parking-item">
								<div class="parking-item__address icon-pin">
									Екатеринбург, пос. Большой Исток, ул. Свердлова, дом 42А, оф. 210
								</div>
								<div class="parking-item__contacts icon-phone">
									<div class="parking-item__title">Телефон:</div>
									<a href="tel:+73433288527">8 (343) 328-85-27</a>
									<a href="tel:+73433288417">8 (343) 328-84-17</a>
								</div>
								<div class="parking-item__timework icon-clock">
									<div class="parking-item__title">Режим работы:</div>
									Понедельник—воскресенье: с 9:00 до 21:00
								</div>
								<div class="parking-tooltip">
									<div class="open">Скоро открытие</div>
								</div>
							</div>
						</li>
					</ul>

  			</div><!-- end parking -->
  		</div>
  	</div>
  </div>
{% endblock %}
